@charset "utf-8";
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?jbld9x');
  src: url('../fonts/icomoon.eot?jbld9x#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?jbld9x') format('truetype'), url('../fonts/icomoon.woff?jbld9x') format('woff'), url('../fonts/icomoon.svg?jbld9x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
  content: "\e986";
}
* {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
ul,
ol,
li {
  list-style: none;
}
i,
a {
  text-decoration: none;
  font-style: normal;
}
.hide {
  display: none;
}
::selection {
  background-color: #286a46;
  color: #fff;
}
body.min_body {
  min-width: 960px;
  overflow-x: hidden;
  /*禁止横向滚轮*/
}
.inner {
  margin: 0 auto;
  width: 1180px;
}
body {
  width: 100%;
}
.top_nav {
  height: 36px;
  background: #ebebeb;
  border-bottom: 1px solid #ddd;
}
.top_nav span.fl_top_span {
  line-height: 36px;
  color: #999;
  padding-top: 11px;
  float: left;
}
.top_nav span.fl_top_span a {
  float: left;
  font-size: 12px;
  line-height: 14px;
  color: #999;
  padding: 0 6px;
}
.top_nav span.fl_top_span a:hover {
  color: #286a46;
}
.top_nav ul.fr_top_ul {
  float: right;
  height: 36px;
  position: relative;
}
.top_nav ul.fr_top_ul li {
  height: 25px;
  padding-top: 11px;
  font-size: 12px;
  line-height: 14px;
  color: #666;
  float: left;
  padding-left: 6px;
  padding-right: 6px;
  border-left: 1px solid #d9d9d9;
  cursor: pointer;
}
.top_nav ul.fr_top_ul li:nth-child(1) {
  color: #09924b;
  position: relative;
}
.top_nav ul.fr_top_ul li:nth-child(1) img {
  width: 8px;
  height: 4px;
  padding-bottom: 2px;
}
.top_nav ul.fr_top_ul li:nth-child(1):hover {
  background: #fff;
}
.top_nav ul.fr_top_ul li:nth-child(1) ul.ul_menu {
  top: 100%;
  left: 0;
  background-color: #fff;
  right: 0;
  border-top: none;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 9;
  position: absolute;
}
.top_nav ul.fr_top_ul li:nth-child(1) ul.ul_menu li {
  color: #666;
  background-color: #fff;
  text-indent: 8px;
  height: 24px;
  width: 88%;
}
.top_nav ul.fr_top_ul li:nth-child(1) ul.ul_menu li:hover {
  color: #09924b;
  background-color: #ebebeb;
}
.top_nav ul.fr_top_ul li:nth-child(2):hover {
  background: #fff;
}
.top_nav ul.fr_top_ul li:nth-child(2) .weibo_weixin {
  width: 90px;
  height: 45px;
  background: #fff;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: absolute;
  top: 100%;
  left: 84px;
}
.top_nav ul.fr_top_ul li:nth-child(2) .weibo_weixin .weibo {
  width: 25px;
  height: 25px;
  background: url(../img/sprite.png) -60px -20px;
  position: relative;
  display: block;
  top: 8px;
  left: 14px;
  float: left;
}
.top_nav ul.fr_top_ul li:nth-child(2) .weibo_weixin .weibo:hover {
  background-position: -60px -51px;
}
.top_nav ul.fr_top_ul li:nth-child(2) .weibo_weixin .weixin {
  width: 25px;
  height: 25px;
  background: url(../img/sprite.png) -122px -20px;
  position: relative;
  display: block;
  top: 8px;
  left: 29px;
  float: left;
}
.top_nav ul.fr_top_ul li:nth-child(2) .weibo_weixin .weixin:hover {
  background-position: -122px -51px;
}
.top_nav ul.fr_top_ul li:nth-child(2) .weibo_weixin .weixin div {
  width: 128px;
  height: 128px;
  position: relative;
  top: 39px;
  left: -54px;
}
.top_nav ul.fr_top_ul li:nth-child(2) .weibo_weixin .weixin div img {
  width: 128px;
  height: 128px;
}
.top_nav ul.fr_top_ul li:nth-child(3) {
  color: #09924b;
}
.top_nav .fr_login_text {
  float: right;
  padding-top: 11px;
}
.top_nav .fr_login_text span {
  font-size: 12px;
  line-height: 14px;
  color: #666;
  float: left;
  padding-right: 11px;
}
.top_nav .fr_login_text span:nth-child(2):hover {
  color: #09924b;
  cursor: pointer;
}
.top_nav .fr_login_ok {
  float: right;
  padding-top: 11px;
  inline-size: 36px;
}
.top_nav span {
  font-size: 12px;
  line-height: 14px;
  color: #666;
  float: left;
  padding-right: 11px;
}
.logo_sreach {
  height: 82px;
  background: white;
  padding-top: 28px;
}
.logo_sreach .inner {
  position: relative;
}
.logo_sreach h1 {
  height: 50px;
  width: 449px;
  background: url(../img/logo_big.png);
}
.logo_sreach h1 .logo {
  width: 100%;
  height: 100%;
  text-indent: -999em;
  display: block;
}
.logo_sreach .sreach {
  height: 34px;
  width: 390px;
  position: absolute;
  top: 10px;
  right: 0;
}
.logo_sreach .sreach ul {
  height: 320px;
  width: 388px;
  position: absolute;
  background: white;
  z-index: 9;
  top: 35px;
  left: 0px;
  border: 1px solid #ddd;
}
.logo_sreach .sreach ul li {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  text-indent: 1em;
  color: #252525;
  cursor: pointer;
}
.logo_sreach .sreach ul li i {
  color: #949494;
}
.logo_sreach .sreach ul li:hover {
  background: #ddd;
}
.logo_sreach .sreach input {
  width: 347px;
  height: 32px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 12px;
  line-height: 32px;
  color: #999999;
  float: left;
  outline: none;
}
.logo_sreach .sreach .sreach_btn {
  width: 40px;
  height: 35px;
  line-height: 35px;
  background: #ef9632;
  text-align: center;
  float: left;
}
.logo_sreach .sreach .sreach_btn:hover {
  background: orange;
}
.logo_sreach .sreach .sreach_btn span {
  color: #fff;
}
.index_menu {
  background: #286a46;
  height: 40px;
  box-shadow: 0px 2px 1px #bbbbbb;
}
.index_menu ul.inner li {
  line-height: 38px;
  height: 38px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 13px;
  padding-right: 12px;
  color: white;
  font-size: 16px;
}
.index_menu ul.inner li:hover {
  background: #2e9057;
}
.index_menu ul.inner li a {
  color: white;
}
.sub_menu {
  background: #ebebeb;
  height: 24px;
}
.sub_menu ul.inner li {
  line-height: 24px;
  font-size: 12px;
  margin-right: 18px;
  position: relative;
}
.sub_menu ul.inner li p {
  padding-right: 7px;
  padding-left: 7px;
}
.sub_menu ul.inner li p a {
  color: #666;
}
.sub_menu ul.inner li p:hover {
  background: white;
  height: 25px;
  position: relative;
  z-index: 10;
}
.sub_menu ul.inner li div.block_menu {
  background: #fff;
  width: 426px;
  height: 188px;
  box-shadow: 0 0 5px #ccc;
  z-index: 9;
  position: absolute;
  top: 24px;
  left: 0px;
  padding-top: 12px;
}
.sub_menu ul.inner li div.block_menu .line1 {
  height: 130px;
  width: 1px;
  position: absolute;
  top: 20px;
  left: 212px;
  background: #eee;
}
.sub_menu ul.inner li div.block_menu .block_menu_content {
  height: 154px;
  width: 426px;
}
.sub_menu ul.inner li div.block_menu .block_menu_content a {
  float: left;
  line-height: 30px;
  width: 200px;
  color: #666;
  padding-left: 12px;
}
.sub_menu ul.inner li div.block_menu .block_menu_content a:hover {
  color: #09924b;
}
.sub_menu ul.inner li div.block_menu .line2 {
  border-top: 1px solid #eee;
  height: 32px;
  line-height: 32px;
  margin: 0 12px;
  text-align: right;
}
.sub_menu ul.inner li div.block_menu .line2 a {
  color: #09924b;
}
.tab_img_box {
  height: 425px;
  background: #000;
  border-top: 1px solid #434343;
  position: relative;
}
.tab_img_box div.inner {
  height: 425px;
  position: relative;
}
.tab_img_box div.inner .bigPic img {
  width: 960px;
  height: 425px;
  position: absolute;
  top: 0;
  left: 0;
}
.tab_img_box div.inner .bigPic ul {
  width: 720px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.tab_img_box div.inner .bigPic ul .pic_title_box {
  position: absolute;
  height: 94px;
  width: 480px;
  top: -203px;
}
.tab_img_box div.inner .bigPic ul .pic_title_box .box_category {
  height: 24px;
  background: url(../img/slider_tag.png) no-repeat;
  background-position-y: 0px;
}
.tab_img_box div.inner .bigPic ul .pic_title_box p {
  padding-bottom: 6px;
  font-size: 31px;
  line-height: 31px;
  padding-top: 14px;
  color: #ffffff;
}
.tab_img_box div.inner .bigPic ul .pic_title_box span {
  font-size: 11px;
  line-height: 11px;
  color: #ffffff;
}
.tab_img_box div.inner .bigPic ul li > a {
  width: 68px;
  height: 43px;
  border: 1px solid #999999;
  float: left;
  background: blue;
  margin-right: 13px;
  position: relative;
  transition: 1s top ease;
  /*&:hover {
                        top: -8px;
                        left: 0;
                        border: 1px solid #09924b;
                    }*/
}
.tab_img_box div.inner .bigPic ul li > a img {
  width: 68px;
  height: 43px;
}
.tab_img_box div.inner .bigPic ul .smallPicOn {
  top: -8px;
  left: 0;
  border: 1px solid #09924b;
}
.tab_img_box div.inner .left_content {
  width: 290px;
  height: 425px;
  background: #272828;
  position: absolute;
  top: 0;
  right: 0;
}
.tab_img_box div.inner .left_content ol {
  width: 290px;
  height: 37px;
  background: #404040;
}
.tab_img_box div.inner .left_content ol li {
  padding-top: 12px;
  padding-left: 2px;
  padding-right: 5px;
  color: #88887f;
  font-size: 12px;
  height: 24px;
  width: 53px;
  /*&:hover {
                        border-bottom: 3px solid #09924b;
                        color: white;
                        cursor: pointer;
                    }*/
}
.tab_img_box div.inner .left_content ol li.rankOn {
  border-bottom: 3px solid #09924b;
  color: white;
  cursor: pointer;
}
.tab_img_box div.inner .left_content ol li:nth-child(1) {
  margin-left: 65px;
  margin-right: 36px;
}
.tab_img_box div.inner .left_content .content_rank {
  width: 290px;
  height: 388px;
}
.tab_img_box div.inner .left_content .content_rank ul.rank_list {
  padding-top: 3px;
}
.tab_img_box div.inner .left_content .content_rank ul.rank_list li {
  width: 275px;
  height: 19px;
  margin-left: 10px;
  margin-top: 17px;
  position: relative;
}
.tab_img_box div.inner .left_content .content_rank ul.rank_list li:hover {
  background: #404040;
  cursor: pointer;
}
.tab_img_box div.inner .left_content .content_rank ul.rank_list li .block_num {
  width: 17px;
  height: 17px;
  text-align: center;
  font-size: 9px;
  color: #6f6f6f;
  border: 1px solid #6f6f6f;
}
.tab_img_box div.inner .left_content .content_rank ul.rank_list li .block_num.orange_num {
  width: 17px;
  height: 17px;
  color: #fff;
  background: #ef9632;
  border-color: #ef9632;
}
.tab_img_box div.inner .left_content .content_rank ul.rank_list li span:nth-of-type(1) {
  padding: 0 7px;
  color: #6f6f6f;
  line-height: 19px;
  font-size: 14px;
  width: 167px;
  /*省略号*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tab_img_box div.inner .left_content .content_rank ul.rank_list li span:nth-of-type(2) {
  color: #6f6f6f;
  line-height: 19px;
  font-size: 9px;
  padding: 0 2px;
}
.tab_img_box div.inner .left_content .content_rank ul.rank_list li span.w200 {
  width: 200px;
}
.tab_img_box div.inner .left_content .content_rank ul.rank_list li img {
  width: 9px;
  height: 10px;
  position: relative;
  top: 4px;
}
.open_class_plan {
  height: 413px;
  background: #fafafa;
}
.open_class_plan .inner {
  height: 255px;
  padding-top: 49px;
  background: #fafafa;
}
.open_class_plan .inner i {
  line-height: 23px;
  font-size: 23px;
  color: #333846;
  padding-right: 18px;
}
.open_class_plan .inner span.open_class_plan_nav {
  line-height: 12px;
  font-size: 12px;
  margin-right: 22px;
  color: #333846;
  border-radius: 4px;
  transition: .25s;
}
.open_class_plan .inner span.open_class_plan_nav:hover {
  cursor: pointer;
  background: #206740;
}
.open_class_plan .inner span.open_class_plan_more {
  line-height: 11px;
  font-size: 11px;
  color: #333846;
  margin-left: 575px;
}
.open_class_plan .inner span.open_class_plan_doit {
  line-height: 11px;
  font-size: 11px;
}
.open_class_plan .inner span.open_class_plan_doit a {
  color: #206740;
}
.open_class_plan .inner ul.course_list1 {
  height: 220px;
}
.open_class_plan .inner ul.course_list1 li {
  margin-top: 18px;
  margin-right: 33px;
  width: 270px;
  position: relative;
}
.open_class_plan .inner ul.course_list1 li .pic_course {
  height: 150px;
  width: 270px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.open_class_plan .inner ul.course_list1 li .pic_course span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 60px;
  height: 22px;
  background: #dd8700;
  color: #fff;
  line-height: 22px;
  font-size: 12px;
  z-index: 9;
  text-align: center;
}
.open_class_plan .inner ul.course_list1 li .pic_course img {
  height: 150px;
  width: 270px;
  transform: scale(1);
  transition: 1s;
}
.open_class_plan .inner ul.course_list1 li .pic_course img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.open_class_plan .inner ul.course_list1 li p.title_course {
  font-size: 18px;
  position: absolute;
  top: 168px;
  color: #333333;
}
.open_class_plan .inner ul.course_list1 li p.sub_title_course {
  font-size: 12px;
  color: #999999;
  position: absolute;
  top: 199px;
}
.open_class_plan .inner ul.course_list1 li:nth-child(2) span {
  background: #4a9bac;
}
.open_class_plan .inner ul.course_list1 li:nth-child(4) {
  margin-right: 0;
}
.fixed_ads {
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.fixed_ads .inner {
  position: relative;
}
.fixed_ads .inner img {
  width: 1200px;
}
.fixed_ads .inner a {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  right: -16px;
}
.recommend {
  height: 430px;
  background: #fafafa;
  position: relative;
}
.recommend .inner {
  position: relative;
}
.recommend i {
  line-height: 23px;
  font-size: 23px;
  color: #333846;
  padding-right: 18px;
}
.recommend span.open_class_plan_nav {
  line-height: 12px;
  font-size: 12px;
  margin-right: 22px;
  color: #333846;
  border-radius: 4px;
  transition: .25s;
}
.recommend span.open_class_plan_nav:hover {
  cursor: pointer;
  background: #206740;
}
.recommend .recommend_left_box {
  width: 380px;
  height: 330px;
  margin-top: 19px;
  position: relative;
}
.recommend .recommend_left_box div.img_box {
  width: 380px;
  height: 268px;
  overflow: hidden;
}
.recommend .recommend_left_box div.img_box img {
  transform: scale(1);
  transition: 1s;
}
.recommend .recommend_left_box div.img_box img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.recommend .recommend_left_box p.r_name {
  height: 21px;
  width: 100%;
  position: absolute;
  top: 247px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 21px;
  color: white;
  padding-left: 7px;
  box-sizing: border-box;
}
.recommend .recommend_left_box .r_detail {
  font-size: 15px;
  color: #333333;
  line-height: 15px;
  padding-top: 13px;
}
.recommend .recommend_left_box img.play_arr {
  width: 10px;
  height: 9px;
  position: absolute;
  top: 307px;
  left: 2px;
}
.recommend .recommend_left_box i {
  font-size: 11px;
  padding-left: 20px;
}
.recommend .recommend_right_box {
  height: 350px;
  width: 780px;
  position: absolute;
  top: 43px;
  right: 0;
}
.recommend .recommend_right_box li {
  width: 180px;
  height: 168px;
  margin-right: 20px;
  cursor: pointer;
  float: left;
  position: relative;
}
.recommend .recommend_right_box li div.recommend_right_img {
  width: 180px;
  height: 100px;
  overflow: hidden;
}
.recommend .recommend_right_box li div.recommend_right_img img {
  width: 180px;
  height: 100px;
  transform: scale(1);
  transition: 1s;
}
.recommend .recommend_right_box li div.recommend_right_img img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.recommend .recommend_right_box li div.black_box {
  height: 18px;
  width: 180px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 82px;
  left: 0px;
}
.recommend .recommend_right_box li div.black_box span {
  font-size: 12px;
  line-height: 18px;
  padding-left: 6px;
  color: white;
  display: block;
  padding-bottom: 1px;
}
.recommend .recommend_right_box li p {
  font-size: 12px;
  color: #333333;
}
.recommend .recommend_right_box li img.play_arr {
  width: 10px;
  height: 9px;
  margin-left: 2px;
}
.recommend .recommend_right_box li i {
  font-size: 11px;
  color: #999999;
}
.recommend .recommend_right_box li:nth-child(4) {
  margin-right: 0;
}
.recommend .recommend_right_box li:nth-child(8) {
  margin-right: 0;
}
.guess {
  height: 247px;
  background: #fafafa;
  position: relative;
}
.guess .inner {
  position: relative;
}
.guess i {
  line-height: 23px;
  font-size: 23px;
  color: #333846;
  padding-right: 18px;
}
.guess span.open_class_plan_nav {
  line-height: 12px;
  font-size: 12px;
  margin-right: 6px;
  color: #333846;
  border-radius: 4px;
  transition: .25s;
}
.guess a.guess_login {
  line-height: 12px;
  font-size: 12px;
  margin-right: 22px;
  color: white;
  border-radius: 4px;
  transition: .25s;
  background: #206740;
}
.guess span.open_class_plan_more {
  line-height: 11px;
  font-size: 11px;
  color: #333846;
  margin-left: 737px;
}
.guess span.open_class_plan_doit {
  line-height: 11px;
  font-size: 11px;
}
.guess span.open_class_plan_doit a {
  color: #206740;
}
.guess .guess_list {
  height: 150px;
  margin-top: 18px;
}
.guess .guess_list li {
  width: 180px;
  margin-right: 20px;
  cursor: pointer;
  float: left;
}
.guess .guess_list li div {
  width: 180px;
  height: 100px;
  overflow: hidden;
}
.guess .guess_list li div img {
  transform: scale(1);
  transition: 1s;
}
.guess .guess_list li div img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.guess .guess_list li p {
  width: 155px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}
.guess .guess_list li:last-child {
  margin-right: 0px;
}
.slider .inner {
  height: 30px;
  position: fixed;
  top: 38px;
  left: 0;
  right: 0;
}
.slider .inner div.s_box {
  width: 60px;
  height: 200px;
  position: absolute;
  top: 0;
  right: -65px;
  cursor: pointer;
}
.slider .inner div.s_box .sub_box {
  width: 60px;
  height: 60px;
  margin: 10px 0;
  background: white;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
}
.slider .inner div.s_box .sub_box:hover {
  background: #e8e8e8;
  border-color: #dadada;
}
.slider .inner div.s_box .sub_box:first-child {
  margin: 0;
}
.slider .inner div.s_box .box_content1 {
  width: 50px;
  height: 50px;
  background: url(../img/slider.png) 5px 5px;
}
.slider .inner div.s_box .box_content2 {
  width: 50px;
  height: 50px;
  background: url(../img/slider.png) 5px 105px;
}
.slider .inner div.s_box .box_content3 {
  width: 50px;
  height: 50px;
  background: url(../img/slider.png) 2px 52px;
}
.slider .inner div.s_box #slider_box1 {
  position: relative;
}
.slider .inner div.s_box #slider_box1 a {
  width: 133px;
  height: 150px;
  background: white;
  position: absolute;
  top: 0;
  left: -136px;
  text-align: center;
}
.slider .inner div.s_box #slider_box1 a span {
  font-size: 12px;
  color: #000000;
}
