@charset "utf-8";
@minWidth:960px;
*{
    margin: 0;
    padding: 0;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    visibility: hidden
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.pos(r){
    position: relative;
}
.pos(a){
    position: absolute;
}
.pos(f){
    position: fixed;
}
ul,ol,li{
    list-style: none;
}
i,a{
    text-decoration: none;
    font-style: normal;
}
.hide{
    display: none;
}
::selection{
    background-color: #286a46;
    color: #fff;
}
//----start----
body.min_body{
    min-width:@minWidth;
}
.inner{
    margin: 0 auto;
    width: 1180px;
}
body{
    width: 100%;
    background: deepskyblue;
}
.top_nav{
    height: 36px;
    background: #ebebeb;
    border-bottom: 1px solid #ddd;
    span.fl_top_span{
        line-height: 36px;
        color: #999;
        padding-top: 11px;
        .fl;
        a{
            .fl;
            font-size: 12px;
            line-height: 14px;
            color: #999;
            padding: 0 6px;
            &:hover{
                color: #286a46;
            }
        }
    }
    ul.fr_top_ul{
        .fr;
        height: 36px;
        .pos(r);
        li{ 
            height: 36px - 11;
            padding-top: 11px;
            font-size: 12px;
            line-height: 14px;
            color: #666;
            .fl;
            // padding: 0 6px;
            padding-left: 6px;
            padding-right: 6px;
            border-left: 1px solid #d9d9d9;
            cursor: pointer;
        }
        li:nth-child(1){
             color: #09924b;
             img{
                 width: 8px;
                 height: 4px;
                 padding-bottom: 2px;
             }
             &:hover{
                 background: #fff;
             }
            .pos(r);
            ul.ul_menu{
                top: 100%;
                left: 0;
                background-color: #fff;
                right: 0;
                border-top: none;
                box-shadow: 1px 2px 1px rgba(0,0,0,.2);
                .pos(a);
                li{
                    color: #666;
                    background-color: #fff;
                    text-indent: 8px;
                    height: 24px;
                    width: 88%;
                    &:hover{
                        color: #09924b;
                        background-color: #ebebeb

                    }
                }
            }
        }
        li:nth-child(3){
            color: #09924b;
        }
    }
    .fr_login_text{
        .fr;
        padding-top: 11px;
        span{
            font-size: 12px;
            line-height: 14px;
            color: #666; 
            .fl;
            padding-right: 11px;
        }
        span:nth-child(2):hover{
            color: #09924b;
            cursor: pointer;
        }
    }
    .fr_login_ok{
        .fr;
        padding-top: 11px;
        inline-size: 36px;
    }
        span{
        font-size: 12px;
        line-height: 14px;
        color: #666; 
        .fl;
        padding-right: 11px;
    }
}
