/*------------font-------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?hoa32z");
  src: url("../fonts/icomoon.eot?hoa32z#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?hoa32z") format("truetype"), url("../fonts/icomoon.woff?hoa32z") format("woff"), url("../fonts/icomoon.svg?hoa32z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-more_unfold:before {
  content: "\e900";
  display: inline-block; }

.icon-more_unfold.rotate:before {
  content: "\e900";
  display: inline-block;
  transform: rotateX(180deg);
  -webkit-transform: -webkit-rotateX(180deg); }

/*------------------------*/
* {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

.clearfix:after {
  clear: both;
  content: '';
  display: block; }

.clearfix {
  zoom: 1; }

.fl, nav div.inner div.list_box, nav div.inner div.list_box ul li, nav div.inner div.btn_more, .page1 section.content_box div.img_show div.vedio_time div, .page1 section.content_box div.img_show div.vedio_time span, .page2 section.content_box .inner img, .page2 section.content_box .inner p.title, .page2 section.content_box .inner p.time_num {
  float: left; }

.fr {
  float: right; }

html {
  font-size: 15px; }

header {
  height: 3.14815rem;
  width: 100%;
  background-color: #286a46; }
  header a img {
    width: 9.01235rem;
    height: 1.7284rem;
    margin-left: 0.80247rem;
    margin-top: 0.61728rem; }

nav {
  height: 2.90123rem;
  width: 100%;
  position: relative; }
  nav div.inner {
    margin: 0 0.26235rem;
    height: 2.90123rem; }
    nav div.inner div.list_box {
      width: 88%;
      height: 2.90123rem;
      background: #ffffff;
      overflow: hidden; }
      nav div.inner div.list_box ul {
        width: 56.25rem;
        height: 2.90123rem;
        position: relative;
        left: 0; }
        nav div.inner div.list_box ul li {
          line-height: 2.90123rem;
          height: 2.90123rem;
          padding-left: 0.7716rem;
          padding-right: 0.7716rem;
          font-size: 0.95679rem;
          color: #555555; }
        nav div.inner div.list_box ul li.on {
          color: #2b6b49; }
    nav div.inner div.btn_more {
      width: 12%;
      height: 2.90123rem;
      background: #ffffff;
      line-height: 2.90123rem;
      text-align: center; }
      nav div.inner div.btn_more span {
        color: #555555;
        font-size: 0.58642rem; }

#fake_nav {
  height: 2.90123rem;
  width: 100%;
  position: relative;
  display: none; }

div.swiper-slide {
  width: 100%; }

.page1 section.content_box {
  border-top: 0.06173rem solid #efefef;
  width: 100%;
  position: relative; }
  .page1 section.content_box div.img_show {
    width: 100%;
    height: 12.5rem;
    background-size: contain;
    position: relative; }
    .page1 section.content_box div.img_show div.vedio_time {
      width: 5.33951rem;
      height: 1.32716rem;
      background: black;
      opacity: 0.5;
      border-radius: 0.49383rem;
      position: absolute;
      top: 0.89506rem;
      right: 0.83333rem; }
      .page1 section.content_box div.img_show div.vedio_time div {
        background: url(../img/camera.png);
        width: 1.23457rem;
        height: 1.23457rem;
        background-size: contain;
        margin-left: 0.49383rem;
        margin-right: 0.21605rem; }
      .page1 section.content_box div.img_show div.vedio_time span {
        line-height: 1.32716rem;
        font-size: 0.67901rem;
        color: white; }
  .page1 section.content_box div.img_show.box01 {
    background: url(../img/contentImg01.jpg) no-repeat;
    background-size: contain; }
  .page1 section.content_box div.img_show.box02 {
    background: url(../img/contentImg02.jpg) no-repeat;
    height: 12.5rem;
    background-size: contain; }
  .page1 section.content_box div.img_show.box03 {
    background: url(../img/contentImg03.jpg) no-repeat;
    height: 12.5rem;
    background-size: contain; }
  .page1 section.content_box div.img_show.box04 {
    background: url(../img/contentImg04.jpg) no-repeat;
    height: 12.5rem;
    background-size: contain; }
  .page1 section.content_box div.tag_time {
    height: 3.85802rem;
    width: 100%; }
    .page1 section.content_box div.tag_time div.tag {
      height: 1.2037rem;
      border-radius: 0.18519rem;
      display: inline-block;
      margin-left: 0.95679rem;
      margin-top: 1.23457rem;
      line-height: 0rem; }
      .page1 section.content_box div.tag_time div.tag span {
        padding: 0 0.61728rem;
        line-height: 1.2037rem;
        display: inline-block;
        color: white;
        font-size: 0.58642rem; }
    .page1 section.content_box div.tag_time .type1 {
      background-color: #4ba3fc; }
    .page1 section.content_box div.tag_time .type2 {
      background-color: #d0b752; }
    .page1 section.content_box div.tag_time .type3 {
      background-color: #a4d11e; }
    .page1 section.content_box div.tag_time span.time {
      color: #a0a0a0;
      font-size: 0.64815rem;
      padding-left: 0.30864rem; }
  .page1 section.content_box p.title {
    font-size: 1.17284rem;
    height: 1.17284rem;
    line-height: 1.17284rem;
    color: black;
    margin-left: 0.95679rem;
    padding-bottom: 0.8642rem; }
  .page1 section.content_box div.content {
    margin-left: 0.95679rem;
    margin-right: 0.95679rem; }
    .page1 section.content_box div.content span {
      font-size: 0.8642rem;
      line-height: 1.41975rem;
      color: #4a4a4a; }
  .page1 section.content_box p.num {
    margin-left: 0.95679rem;
    margin-top: 1.23457rem;
    font-size: 0.80247rem;
    color: #9b9b9b;
    margin-bottom: 1.60494rem; }
  .page1 section.content_box div.box_bottom {
    height: 0.98765rem;
    width: 100%;
    background: -webkit-linear-gradient(top, #dfdfdf 0%, #f6f6f6 40%); }
  .page1 section.content_box div.share {
    width: 1.23457rem;
    height: 1.2963rem;
    position: absolute;
    bottom: 2.31481rem;
    right: 1.17284rem; }
    .page1 section.content_box div.share a img {
      width: 100%;
      height: 100%; }

.page2 section.content_box {
  height: 8.33333rem;
  width: 100%;
  border-top: 0.06173rem solid #efefef;
  background: #f8f8f8; }
  .page2 section.content_box .inner {
    margin: 0 0.83333rem;
    height: 8.33333rem;
    overflow: hidden; }
    .page2 section.content_box .inner img {
      margin-top: 1.88272rem;
      width: 7.5rem; }
    .page2 section.content_box .inner p.title {
      margin-top: 1.88272rem;
      padding-left: 0.92593rem;
      font-size: 1.01852rem;
      color: black; }
    .page2 section.content_box .inner p.time_num {
      margin-left: 0.92593rem;
      color: #808080;
      font-size: 0.55556rem;
      margin-top: 0.46296rem; }

.page3 section.content_box {
  height: 8.33333rem;
  width: 100%;
  border-top: 0.06173rem solid #efefef;
  background: #f8f8f8; }
  .page3 section.content_box .inner {
    margin: 0 0.83333rem;
    height: 8.33333rem;
    position: relative; }
    .page3 section.content_box .inner img.i1 {
      position: absolute;
      top: 2.0679rem;
      left: 0;
      width: 7.5rem;
      z-index: 3; }
    .page3 section.content_box .inner img.i2 {
      position: absolute;
      top: 1.7284rem;
      left: 0.33951rem;
      width: 6.7284rem;
      z-index: 2; }
    .page3 section.content_box .inner img.i3 {
      position: absolute;
      top: 1.38889rem;
      left: 0.70988rem;
      width: 5.95679rem;
      z-index: 1; }
    .page3 section.content_box .inner p.title {
      position: absolute;
      top: 1.85185rem;
      left: 8.33333rem;
      width: 13.69136rem;
      height: 2.5rem;
      font-size: 1.01852rem;
      line-height: 1.32716rem; }
    .page3 section.content_box .inner p.content {
      position: absolute;
      top: 4.96914rem;
      left: 8.39506rem;
      color: #818181;
      font-size: 0.80247rem; }

/*# sourceMappingURL=index.css.map */
